.item-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 640px;
  padding-top: 30px;
}

.item-form .field-group e-segmented {
  display: flex;
  width: 100%;
}

.item-form .field-group .ink-segmented {
  display: flex;
  width: 100%;
}

.item-form .field-group .ink-segmented__btn {
  flex: 1;
}

.item-form .ink-control,
.item-form .ink-segmented,
.item-form .ink-segmented__btn + .ink-segmented__btn {
  border-width: 1px;
}
