.page {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  height: 100vh;
}

.page-header {
  flex: 0 0 auto;
  position: sticky;
  top: 0;
  padding: 34px 48px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.page-header-left {
  display: flex;
  flex-direction: column;
}

.page-header-right {
  margin-left: auto;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items:flex-end;
}

.page-header::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100vw;
  margin-left: -50vw;
  border-bottom: 2px solid #000;
}

.page-content {
  flex: 1 1 auto;
  min-height: 0;
  padding: 0 48px 20px;
  overflow-y: auto;
}
